<?xml version="1.0"?>
<BasketNovel>
	<Settings Width="1280" Height="720" NovelTitle="MyWorld" InitialScript="scene.txt" MsgboxScript="system\sys_msg.txt" ApplicationSize="Window" UseCompressedRes="true" EditorStringFile="Strings_editor.xml" CommandFile="Commands.xml" SyntaxFile="Syntax_core.xshd" disableDebugLog="False" Icon="" sysProjectFolder="MyWorld" sysMemoryManagementType="2" writeDirectoryType="0" displayFPS="true" lang="eng" logDuringSkip="" AppUserResizePolicy="" WindowSizeAdjustable="false" WindowBorderless="false" copy_dialogue_to_clipboard="false" disallowOpen="false" disallowPopups="false" FixedUpdateMethod="0" cap_update_dt_to_fixed_update_dt="false" WindowSizeAllowFreeRatio="" TextAutoWaitMethodDefault="2" Version="16.7.1" displayRAM="true" memory_auto_release_display_error="true" />
	<GameSettings vn_sysTextSkipMethod="0" vn_sysWindowMode="1" vn_sysVoicePlayType="1" vn_win_width="1280" vn_win_height="720">
		<vnvar name="vn_sysSfxVolumeOn" range="4" created_at="">
			<value type="46" literal="true" number="7.7924982015159809e-312" />
		</vnvar>
		<vnvar name="vn_sysMasterVolume" range="4" created_at="">
			<value type="4" literal="" number="11.47186279296875" />
		</vnvar>
		<vnvar name="vn_sysBgmVolume" range="4" created_at="">
			<value type="4" literal="" number="87.575759887695312" />
		</vnvar>
		<vnvar name="vn_sysMasterVolumeOn" range="4" created_at="">
			<value type="46" literal="true" number="7.7924982015159809e-312" />
		</vnvar>
		<vnvar name="vn_sysSfxVolume" range="4" created_at="">
			<value type="4" literal="" number="88.095237731933594" />
		</vnvar>
		<vnvar name="vn_sysVoiceVolume" range="4" created_at="">
			<value type="4" literal="" number="87.835494995117188" />
		</vnvar>
		<vnvar name="vn_sysBgmVolumeOn" range="4" created_at="">
			<value type="46" literal="true" number="7.7924982015159809e-312" />
		</vnvar>
		<vnvar name="vn_sysVoiceVolumeOn" range="4" created_at="">
			<value type="46" literal="true" number="7.7924982015159809e-312" />
		</vnvar>
		<vnvar name="vn_sysTextSpeed" range="4" created_at="">
			<value type="4" literal="" number="30" />
		</vnvar>
		<vnvar name="vn_sysAutoSpeed" range="4" created_at="">
			<value type="4" literal="" number="50" />
		</vnvar>
		<vnvar name="vn_sysAutoWait" range="4" created_at="">
			<value type="4" literal="" number="4500" />
		</vnvar>
		<vnvar name="vn_sysTextSkipOn" range="4" created_at="">
			<value type="47" literal="false" number="1.2965394282797814e-311" />
		</vnvar>
		<vnvar name="vn_sysTextReadVersion" range="4" created_at="">
			<value type="4" literal="" number="0" />
		</vnvar>
		<vnvar name="vn_sysTextAutoOn" range="4" created_at="">
			<value type="47" literal="false" number="1.2965394282797814e-311" />
		</vnvar>
		<vnvar name="vn_sysTextNormalForce" range="4" created_at="">
			<value type="47" literal="false" number="1.2965394282797814e-311" />
		</vnvar>
	</GameSettings>
</BasketNovel>
